/* .table-row {
  display: flex;
  align-items: center;
  outline: 1px solid rgb(43, 2, 59);
} */

/* .table-row__cell { */
/* width: 20%;
  min-height: 30px;
  outline: 1px solid rgb(164, 15, 30); */
/* text-align: center; */
/* } */

/* .table-row_header {
  background-color: rgb(191, 166, 217);
} */
